<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Current Weather</title>
    </head>
    <body>
        <h1>City Weather Search</h1>

        <form method="GET" action="/api/weather">
            <input type="text" name="city" placeholder="City Name" size="30">
            <span><button>Search</button></span>
        </form>

    </body>
</html>