<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Repository</title>
    </head>
    <body>
        <h1>Complete Contact List Database</h1>

        <div data-th-each="ctc, stats : ${contacts}" data-th-object="${ctc}">
            <a data-th-href="@{/contact/{id}(id=${ctc.id})}">
                <span data-th-text="*{name}"></span>
            </a>
        </div>

    </body>
</html>